* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

footer {
  background-color: #638667;
  padding: 1rem;
}

.footer_content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.footer_content p {
  color: white;
  line-height: 170%;
}

.footer_content img {
  width: 12%;
  opacity: 50%;
}

.socials {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 4%;
  align-items: center;
  align-content: center;
  width: 15%;
  margin-top: 10%;
}

.socials a {
  cursor: pointer;
}

.socials a:hover {
  filter: brightness(150%) saturate(80%);
}

footer p {
  color: white;
}

.footer_info_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_info_box p {
  max-width: 30%;
}

.box {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.form-box {
  border-radius: 5px;
  background: white;
  padding-left: 20px;
}
.form-box input {
  font-size: 15px;
  color: black;
  border: none;
  outline: none;
  padding-right: 10px;
}

.form-box button {
  background-color: #ddceac;
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "WONK" 1;
  line-height: 27px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.form-box {
  border-radius: 5px;
  background: white;
  padding-left: 20px;
}
.form-box input {
  font-size: 15px;
  color: black;
  border: none;
  outline: none;
  padding-right: 10px;
}
