* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

h4 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}

main {
  background-color: #e1ceaa;
}

#velkommen {
  background-color: #bcc9a9;
  display: flex;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding: 5rem;
  height: 3vh;
  font-size: 90%;
  gap: 1rem;
  place-content: center;
}

#velkommen img {
  width: 4rem;
}

#velkommen h4 {
  max-width: 50%;
  padding-left: 1rem;
}

#claims_container {
  display: flex;
  align-items: center;
  place-content: center;
}

#claims_container img {
  width: 60%;
}
