* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}

main {
  background-color: #e1ceaa;
}

#velkommen {
  background-color: #bcc9a9;
  display: flex;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding: 3rem;
  height: 3vh;
  font-size: 90%;
  gap: 1rem;
  place-content: center;
  line-height: 1.4;
}

#velkommen img {
  width: 4rem;
}

#velkommen h4 {
  max-width: 50%;
  padding-left: 2rem;
}

.card_container_index {
  margin: 8rem;
  background-color: #cebb98;
  border-radius: 0.3rem;
}

#claims_container {
  display: flex;
  align-items: center;
  place-content: center;
}

#claims_container img {
  width: 60%;
}

.video_container {
  display: flex;
  align-items: center;
  place-content: center;
  margin: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #cebb98;
  border-radius: 0.3rem;
}

.video_link {
  width: 90%;
  border-radius: 0.3rem;
}

@media (max-width: 800px) {
  #velkommen img {
    width: 2rem;
  }

  #velkommen {
    padding: 1rem;
    height: 14vh;
    font-size: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #velkommen h4 {
    max-width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-wrap: pretty;
  }
}
