* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  background-color: #e1ceaa;
}

.start_info {
  text-align: center;
  padding: 3% 20%;
}

#title1 {
  background-image: url(imgs/box1_art.png);
  background-size: cover;
  height: 30vh;
  text-align: center;
  place-content: center;
}

#title2 {
  background-image: url(imgs/box2_art.png);
  background-size: cover;
  height: 30vh;
  text-align: center;
  place-content: center;
}

#title3 {
  background-image: url(imgs/box3_art.png);
  background-size: cover;
  height: 30vh;
  text-align: center;
  place-content: center;
}

.box1 {
  margin: 8% 14%;
  padding: 4%;
  background-color: #cebb98;
  border-radius: 0.4rem;
  display: grid;
  grid-gap: 30px;
}

.box2 {
  margin: 8% 14%;
  padding: 4%;
  background-color: #cebb98;
  border-radius: 0.4rem;
  display: grid;
}

.box3 {
  margin: 8% 14%;
  padding: 4%;
  background-color: #cebb98;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box1_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6%;
}

.box1_1 p {
  padding-top: 1rem;
}

.box1_1-1 {
  padding-top: 12%;
  padding-left: 6%;
}

.box1_2 img {
  width: 30%;
}

.box1_2 {
  gap: 1rem;
}

.signature_container {
  display: flex;
  align-content: center;
  align-items: center;
  place-content: center;
}

.box1_2 p {
  padding-right: 10%;
  padding-left: 4%;
  padding-top: 1%;
}

.lov_box {
  margin: 3% 10%;
  background-color: #e1ceaa;
  border-radius: 0.4rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.382);
  padding: 3%;
}

#logo_box2 {
  opacity: 30%;
}

.lille_ikon {
  width: 5%;
}

.grid_title_pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}

#box2_3 {
  gap: 1rem;
  margin-top: 5%;
}

.button1 {
  background-image: url(imgs/box2-rot.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120%;
  text-decoration: none;
  color: black;
  padding: 5%;
  inline-size: 320px;
  overflow-wrap: break-word;
  text-align: center;
}

.button1:hover {
  background-image: url(imgs/button1_white.svg);
  color: white;
  cursor: pointer;
}

.button1_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1:active {
  background-image: url(imgs/box2filled.svg);
  color: black;
  cursor: pointer;
}

.box3 p {
  padding-bottom: 3%;
}

#knap1_info {
  inline-size: 400px;
}

#knap2_info {
  inline-size: 400px;
}

#knap3_info {
  inline-size: 400px;
}

.knapper_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 10%;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .box1 {
    margin: 8% 8%;
  }

  .box1_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box1_1-1 {
    padding-top: 10%;
    padding-right: 6%;
  }

  .blad_portrait {
    display: flex;
    justify-content: center;
  }

  .blad_portrait img {
    width: 60%;
  }

  .box2 {
    margin: 8% 8%;
  }

  .box1_2 p {
    padding-right: 5%;
  }

  .box3 {
    margin: 8% 8%;
  }

  #logo_box2 {
    width: 30%;
    position: absolute;
    margin-left: 47%;
    margin-bottom: 10%;
    opacity: 10%;
  }

  .button1 {
    inline-size: 300px;
    padding: 7%;
  }

  .knapper_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
